<h1>About Me</h1>

<p>Hi there, my name is Kim Yong. I live with a single motto in live:
<b>Work hard Play Harder!</b>
My Hobbies are:</p>

<ul>
  <li>Eat</li>
  <li>Sleep</li>
  <li>Play</li>
</ul>

<%= image_tag('me/me.jpg', size:"500x300", alt:'this is Kim Yong smiling')%>

<br>
<%= link_to 'Home', root_path %>


