<div class="center jumbotron">
  <h1>CATCHING MOMENTS</h1>
  <p>I am trying to learn how to build my first web application using Bootstrap 3.7. Kindly support by clicking here:)</p>
  <%= link_to "SIGN UP NOW", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>

<%# <%= image_tag("sweden.jpg",size:"800x400",alt:"Beautiful City view of Stockholm")%>