<h1>This is the home page of my blog app</h1>

<%= image_tag("me/sweden.jpg",size:"800x400",alt:"Beautiful City view of Stockholm")%>
<br>
<%= link_to "Alpha blog", articles_path%> | <%= link_to "About", about_path%>